tips {
    color: #f4f0ea;
    border: 1px solid #f4f0ea;
}

tips:before {
    border-left-color: #f4f0ea;
}

tips {
    color: #f4f0ea;
    border: 1px solid currentColor;
}

tips:before {
    border-left-color: inherit;
}


div {
    border-width: 2px 2px 2px 0;
}

div {
    border-width: 2px;
    border-left-width: 0;
}


input:not(:focus)+.popTips {
    display: none;
}

input:focus+.popTips {
    display: block;
}

input:not(:focus)+.popTips {
    transform: scale(0);
    transition: transform .25s cubic-bezier(.25, .1, .25, .1);
}

input:focus+.popTips {
    transform: scale(1);
    transition: transform .4s cubic-bezier(.29, .15, .5, 1.46);
}